body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  cursor: none;
}
#estrellas {
  background: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


.manual {
	position: absolute;
	z-index: 99999;
	background: rgba(255,255,255,.2);
	padding: 10px;
	font-size: 12px;
	font-family: arial;
	color: #fff;
	bottom: 0;
	pointer-events: none;
}

